#seccion-servicios{
    h3{
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 2em;
        text-align: center;
        font-size: 2rem;
    }
    .container-servicios{
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: center;
        gap: 1rem;
        .servicio{
            display: flex;
            flex-direction: column;
            flex-shrink: 1;
            align-items: center;
            margin: 0.5rem 1.5rem;
            img{
                width: 80%;
                aspect-ratio: 2 / 1;
                object-fit: cover;
            }
            .desc-servicio{
                h4{
                    font-size: 1.5rem;
                }
                text-align: center;
            }
        }
    }
}