#seccion-contacto{
    margin-bottom: 3em;
    .form-contacto{
        h3{
            text-align: center;
            font-size: 2rem;
        }
       

    
        form{
            display: flex;
            flex-direction: column;
            width: 50vw;
            margin: auto;
            justify-content: center;
            gap: 1rem;
            input{
                height: 30px;
                border: 0;
                border-bottom: 0.5px solid gray; 
                transition: all 0.7s;
                &:focus{
                    outline: 0;
                    transform: scale(1.1);
                }               
            }
            textarea{
                height: 100px;
                border: 0;
                border-bottom: 0.5px solid gray;
                transition: all 0.7s;
                &:focus{
                    outline: 0;
                    transform: scale(1.1);
                }
            }
            button{
                height: 35px;
                background-color: map-get($color-palette , tc);
                color: white;
                transition: all 0.7s;
                width: 25%;
                border: 0;
                cursor: pointer;
                &:hover{
                    transform: scale(1.2);
                }
                @media screen and (max-width: 500px){
                    width: 50%;
                    align-self: center;
                    justify-self: center;
                }
            }
        }
    }
}