body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

header nav {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  background-color: #F3F1F5;
}
header nav .logo {
  margin: 1rem;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-left: auto;
}
header nav ul li {
  padding: 10px;
  border-radius: 20px;
}
header nav ul li:hover {
  background-color: #987ab4;
  transition: background-color 0.5s ease-out;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 768px) {
  header nav ul {
    display: none;
    margin: 0;
  }
}
header nav .checkbtn {
  display: none;
}
@media screen and (max-width: 768px) {
  header nav .checkbtn {
    font-size: 2rem;
    color: white;
    float: right;
    margin-top: 20px;
    margin-right: 2rem;
    display: block;
  }
}
header nav #check {
  display: none;
}
@media screen and (max-width: 768px) {
  header nav #check {
    flex-direction: row;
  }
  header nav #check:checked ~ ul {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  header nav {
    display: block;
  }
}

#seccion-inicio {
  background-image: url(../../img/balloons-388973_960_720.jpg);
  background-size: cover;
}
#seccion-inicio .container-inicio {
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#seccion-inicio .container-inicio .titulos h1, #seccion-inicio .container-inicio .titulos h2 {
  font-size: 3.5rem;
  text-align: center;
  color: white;
  margin: 0;
  text-shadow: 2px 0 0 #987ab4, -2px 0 0 #987ab4, 0 2px 0 #987ab4, 0 -2px 0 #987ab4, 1px 1px #987ab4, -1px -1px 0 #987ab4, 1px -1px 0 #987ab4, -1px 1px 0 #987ab4;
}
@media screen and (max-width: 1024px) {
  #seccion-inicio .container-inicio .titulos h1, #seccion-inicio .container-inicio .titulos h2 {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 1024px) {
  #seccion-inicio .container-inicio {
    background-image: url(../../img/img-inicio.jpg);
  }
}

#seccion-servicios {
  background-color: #F3F1F5;
  padding-bottom: 2em;
}
#seccion-servicios h3 {
  margin: 0 0 2em 0;
  padding-top: 1.5em;
  text-align: center;
  font-size: 2rem;
}
#seccion-servicios .container-servicios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
#seccion-servicios .container-servicios .servicio {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: center;
  margin: 0.5rem 1.5rem;
}
#seccion-servicios .container-servicios .servicio img {
  width: 80%;
  object-fit: cover;
}
#seccion-servicios .container-servicios .servicio .desc-servicio {
  text-align: center;
}
#seccion-servicios .container-servicios .servicio .desc-servicio h4 {
  font-size: 1.5rem;
}
#seccion-servicios .container-servicios .servicio .desc-servicio p {
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  #seccion-servicios .container-servicios {
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  #seccion-servicios .container-servicios {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

#seccion-nosotros {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  margin: 2em;
  background-color: #F0D9FF;
  border-radius: 10px;
}
#seccion-nosotros .container-nos {
  display: grid;
  grid-template-columns: 50% 50%;
}
#seccion-nosotros .container-nos .desc-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  font-size: 1.1rem;
}
#seccion-nosotros .container-nos .desc-nosotros h3 {
  font-size: 3rem;
}
#seccion-nosotros .container-nos .img-nosotros img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  #seccion-nosotros .container-nos {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    grid-template-columns: 100%;
    background-color: rgba(128, 128, 128, 0.103);
  }
}
@media screen and (max-width: 1024px) {
  #seccion-nosotros {
    background-color: white;
  }
}

#seccion-trabajos h3 {
  text-align: center;
  font-size: 2rem;
}
#seccion-trabajos .contenedor-scroller {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  padding: 0 1rem 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
#seccion-trabajos .contenedor-scroller .elemento {
  display: grid;
  /* grid-template-columns: min-content; */
  gap: 1rem;
  padding: 1rem;
  background: #e0e0e0;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  #seccion-trabajos .contenedor-scroller .elemento {
    padding: 0;
  }
}
#seccion-trabajos .contenedor-scroller .elemento > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  #seccion-trabajos .contenedor-scroller {
    grid-auto-columns: 33%;
  }
}
@media screen and (max-width: 425px) {
  #seccion-trabajos .contenedor-scroller {
    grid-auto-columns: 50%;
  }
}
#seccion-trabajos .snap {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}
#seccion-trabajos .snap > * {
  scroll-snap-align: start;
}

#seccion-contacto {
  margin-bottom: 3em;
}
#seccion-contacto .form-contacto h3 {
  text-align: center;
  font-size: 2rem;
}
#seccion-contacto .form-contacto form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
  justify-content: center;
  gap: 1rem;
}
#seccion-contacto .form-contacto form input {
  height: 30px;
  border: 0;
  border-bottom: 0.5px solid gray;
  transition: all 0.7s;
}
#seccion-contacto .form-contacto form input:focus {
  outline: 0;
  transform: scale(1.1);
}
#seccion-contacto .form-contacto form textarea {
  height: 100px;
  border: 0;
  border-bottom: 0.5px solid gray;
  transition: all 0.7s;
}
#seccion-contacto .form-contacto form textarea:focus {
  outline: 0;
  transform: scale(1.1);
}
#seccion-contacto .form-contacto form button {
  height: 35px;
  background-color: #987ab4;
  color: white;
  transition: all 0.7s;
  width: 25%;
  border: 0;
  cursor: pointer;
}
#seccion-contacto .form-contacto form button:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 500px) {
  #seccion-contacto .form-contacto form button {
    width: 50%;
    align-self: center;
    justify-self: center;
  }
}

footer {
  background-color: #7F7C82;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem;
}
footer .mapa {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 30vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .mapa iframe {
  width: 100%;
  height: 100%;
}
footer .contacto {
  grid-column-start: 2;
  grid-row-start: 1;
}
footer .redes {
  grid-column-start: 2;
  grid-row-start: 2;
}
footer .derechos {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  align-self: center;
  justify-self: center;
}

/*# sourceMappingURL=style.css.map */
